<h1>Rent a wig</h1>
  <% @wigs.each do |wig| %>
<ul>
  <li>
  <%= wig.id %>
  </li>
  <li>
  <%= wig.color %>
  </li>
</ul>

<%end%>
  <%= link_to "Add new wig", new_wig_path, class: "btn btn-primary" %>
