.custom-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcard {
  height: 80%;
  width: 1000px;
}

#showcard {
  opacity: 65%;
  transition: 0.5s all ease-in-out;
}

#showcard:hover {
  opacity: 0.9;
  background: rgb(255, 255, 255);
  

}

.showimage {
  align-items: center;
  height: 250px;
  width: 223px;
  object-fit: cover;
  border-radius: 2%;
}



.buttonholder{
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}

.first_button {
  margin-right: 13px;
}


.description{
  font-size: 100px;
}

.product-detail-color-selector__color-button {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  line-height: 0;
  position: relative;
  width: 32px;}



.rentaldeletebutton {
  margin-left: 540px;
}
