.custom-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.buttonholder{
  display: flex;
  justify-content: center;

.first_button {
  margin-right: 13px;
}
}

.description{
  font-size: 100px;
}
