<h1>Rent a wig</h1>
  <% @wigs.each do |wig| %>
<ul>
  <li>
  <%= wig.color %>
  </li>
  <li>
  <%= wig.length %>
  </li>
</ul>
<% end %>
<%= link_to "Add new wig", new_wig_path, class: "btn btn-primary" %>
