<div class="container-full mt-5" style = "height 100vh;">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="hero-text">
          <h1>Rent the best wig</h1>
        </div>
        <img src="https://images.unsplash.com/photo-1663582816182-15cf69d87665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2074&q=80">
      </div>
      <div class="carousel-item">
      <div class="hero-text">
      <h1>Take control of your life</h1>
          </div>
        <img src="https://images.unsplash.com/photo-1490003695933-fc769c821a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
      </div>
      <div class="carousel-item">
      <div class="hero-text">
      <h1>Air BnWig is the future</h1>
          </div>
        <img src="https://images.unsplash.com/photo-1659443188508-3cd2732285dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
