<h1>Rent the best wig</h1>
<p>Choose the wig that suits you best!</p>

<div class= "card m-3 bg-gray">
  <%= link_to "Log in",  new_user_session_path, class: "btn btn-primary" %>


</div>


<h1>Rent a wig</h1>
  <% @wigs.each do |wig| %>
<ul>
 <li>
  id: <%= wig.id %>
  </li>
  <li>
  color: <%= wig.color %>
  </li>
  <li>
  length: <%= wig.length %> cm
  </li>
</ul>

<%end%>
