<h1>Rent the best wig</h1>
<p>Choose the wig that suits you best!</p>

<div class= "card m-3" style = "border-radius: 20px;">
   <div  class="container-fluid m-2 d-flex justify-content-center align-items-center" style = "height: 7vh;">
    <%= link_to "Log in",  new_user_session_path, class: "btn btn-primary col-2 "%>
  </div>
</div>

<div class="container-fluid bg-dark" style="height:100vh; ">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://plus.unsplash.com/premium_photo-1684677942189-957a4b918979?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1559564071-dfa53d83b513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1615396638102-b76180d62bbd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 h-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
